six
launchpadlib
dill
beautifulsoup4
whichcraft
tqdm
pathos
-e git+https://github.com/cfangmeier/matplotboard.git#egg=matplotboard
-e git+https://github.com/cfangmeier/matplottery.git#egg=matplottery
-e git+git@github.com:cfangmeier/pylhe.git#egg=pylhe
-e git+git@github.com:cfangmeier/lhe2sqlite.git#egg=lhe2sqlite
